{% if page.description %}
  {% assign description = page.description %}
{% else %}
  {% assign description =  site.description %}
{% endif %}

{% if page.title %}
  {% assign title = page.title %}
{% else %}
  {% assign title = site.title %}
{% endif %}

<title>{{title}}</title>

<meta charset="UTF-8">
<meta name="robots" content="index, follow" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="description"  content="{{description}}" />

<!-- twitter -->

<meta property="og:description" content="{{description}}" />
<meta property="og:site_name" content="Three Trees" />
<meta property="og:title" content="{{title}}" />
<meta property="og:type" content="Tech" />
<meta property="og:image" content="https://threetrees.net/assets/images/hzcity.jpg" />
<meta property="og:url" content="https://threetrees.net" />

<link rel="shortcut icon" href="/favicon.ico" />
<link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="{{ "/assets/styles.css" | prepend: site.baseurl }}">

<!-- <link rel="stylesheet" href="{{ "/assets/custom.css" | prepend: site.baseurl }}"> -->
<!-- <link rel="stylesheet" href="https://npmcdn.com/hack/dist/standard.css" /> -->

{% include svg-defs.svg %}
