{% if page.description %}
  {% assign description = page.description %}
{% else %}
  {% assign description =  site.description %}
{% endif %}


<title>
{% if page.title == "home" %}
  {{ site.title }} | {{ site.description }}
{% else %}
  {{ page.title }} | {{ site.title }}
{% endif %}
</title>

<html lang="zh-CN">
<meta charset="UTF-8">
<meta name="robots" content="index, follow" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="description"  content="{{description}}" />

<meta name="msvalidate.01" content="849C20CEE1FD6FCE7B5F2AC7809A5FAD" />
<!-- twitter -->

<meta property="og:description" content="{{description}}" />
<meta property="og:site_name" content="Three Trees" />
<meta property="og:title" content="{{title}}" />
<meta property="og:type" content="Tech" />
<meta property="og:image" content="https://threetrees.net/assets/images/hzcity.jpg" />
<meta property="og:url" content="https://threetrees.net" />

<!-- <link rel="shortcut icon" href="/favicon.ico" /> -->
<link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="{{ "/assets/styles.css" | prepend: site.baseurl }}">


	<!-- Replace these icons with your own. -->

	<link rel="apple-touch-icon" sizes="60x60" href="{{site.baseurl}}/assets/img/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="114x114" href="{{site.baseurl}}/assets/img/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="152x152" href="{{site.baseurl}}/assets/img/apple-icon-152x152.png">
	<link rel="icon" type="image/png" sizes="192x192" href="{{site.baseurl}}/assets/img/android-icon-192x192.png">
	<!-- <link rel="shortcut icon" href="{{site.baseurl}}/fa.ico" type="image/x-icon"> -->
	<link rel="icon" href="{{site.baseurl}}/favicon.ico" type="image/x-icon">

<!-- <link rel="stylesheet" href="{{ "/assets/custom.css" | prepend: site.baseurl }}"> -->
<!-- <link rel="stylesheet" href="https://npmcdn.com/hack/dist/standard.css" /> -->

{% include svg-defs.svg %}
