.grs-header{height:54px; background:url(../img/stu/topnavbar.png) repeat-x 0 0px;}
.grs-header-wrap{width:960px;height:54px;margin:0 auto;background:url(../img/stu/grslogo.png) no-repeat;background-position:0px 6px;}
.grs-header-wrap .current a,.grs-header-wrap .leaf a{float:left; display:inline; text-align:center;width:84px; overflow:hidden;height:54px; line-height:38px;padding-top:7px;margin:0 3px;color:#fff; font-size: 18px;}
.grs-header-wrap a.user{float:right; display:inline; text-align:right;overflow:hidden;height:54px; line-height:38px;padding-top:7px;color:#fff; font-size: 15px;}
.grs-header-wrap a:hover{font-weight:bold; }
.grs-header-wrap div {float:left;display:block;width:90px;text-align:center;}
.grs-header-wrap .current {background:url(../img/stu/topnavbar_select.png) no-repeat;background-position:3px 0px;}
.grs-header-wrap .current a:hover, .grs-header-wrap .leaf a:hover{background:url(../img/stu/topnavbar_chose.png) no-repeat;font-weight:bold;}
.grs-header-wrap .navtri a{background:url(../img/stu/topnavbar_chose.png) no-repeat;font-weight:bold;}
/* .grs-header-wrap{background:url(../img/adminnav/grslogo_beta.png) no-repeat;background-position:0px 6px;} */

/*.grs-header-wrap .current a:hover, .grs-header-wrap .leaf a:hover{background:url(../img/stu/topnavbar_chose.png) no-repeat;font-weight:bold;}
.grs-header-wrap .current.navtri a{background:url(../img/stu/topnavbar_chose.png) no-repeat;font-weight:bold;}
.grs-header-wrap .root{margin:0px 0 0 20px;background:url(../img/first-menu-chosen.png) no-repeat;background-position:15px 30px;}
.grs-header-wrap .root{margin:0;}
.grs-header-wrap .root a{float:left; display:inline; text-align:left;min-width:81px; height:60px; line-height:58px;padding:5px 0px 0 0;overflow:hidden;color:#fff; font-size: 22px;font-weight:bold;}*/


.researchupload {background:url(../img/stu/degree-upload-buttons.png) 0 -50px no-repeat;color:#ffffff;height:24px;width:150px;display:inline-block;cursor:pointer;font-size:13px;}
.researchuploadr{height:200px;width:150px;display:inline-block;}
.researchupload:hover {background:url(../img/stu/degree-upload-buttons.png) 0 -75px no-repeat;}


.grs-header-wrap div {float:left;display:block;width:100px;text-align:center;}
.grs-nav{height:43px;background-color:#EEE;}
.grs-nav-wrap{width:960px; margin:0 auto;background:url(../img/stu/midnavbar.png) no-repeat;height:43px;line-height:26px;padding-top:10px;}
.grs-nav-wrap  a{color:#666; font-size: 14px;}
.grs-nav-wrap  a:hover{font-weight:bold;color:#333;}
.grs-nav-wrap  a.current{color:#1F95D0;font-weight:bold;border-bottom:5px solid #1F95D0;padding-bottom:7px;}
.grs-nav-wrap a{text-decoration:none;}

.layout_main{border-bottom:1px solid #FFF;background-color:#EEEEEE;}
.setting_module{width:960px;margin:0 auto;min-height:550px;background:url(../img/bg.png) no-repeat;}
.layout_right{margin:0px}
.form-horizontal .control-label {padding-right: 10px;}
.alignleft .control-label {text-align:left;}
.setup_main li{ clear: both; width:100%; height:35px; line-height:30px; }
.setup_main li p{ display:inline;}
.setup_main .dl-horizontal dd,dt{height:30px;line-height:26px;}
.setup_main .dl-table dd,.setup_main .dl-table dt{height:34px;line-height:26px;}
.setup_main .dl-horizontal .title{text-align:left;width:150px;clear:none;font-size:13px;}
.subleft .dl-horizontal .title{text-align:left;width:120px;clear:none;margin-left:5px;}
.setup_main .dl-table .title{background:#DDF4FF;width:150px;color:black;text-align:center;line-height:18px;font-size:12px;padding-top:8px;height:27px;
-moz-box-shadow:inset 0 -2px 2px #B8E7FF;
-webkit-box-shadow:inset 0 -2px 2px #B8E7FF;
box-shadow:inset 0 -2px 2px #B8E7FF;
border-top-right-radius: 4px; border-top-left-radius: 4px;
}

.titletabbg{background:url(../img/choose2bg.png) no-repeat;height:34px;width:960px;display:block;background-position:0px 3px;}
.titletabsel{background:url(../img/choose2sel.png) no-repeat;height:34px;width:162px;display:inline-block;cursor:pointer;color:#fff;margin-left:15px;}
.titletab {height:34px;width:160px;display:inline-block;cursor:pointer;color:#888;margin-left:15px;}
.titletabbg h3{font-size:15px;}

.cultivation-process{display:block;width:960px;height:438px;background:url(../img/stu/cultivation-process.png) no-repeat;background-position:217px 0px;}

.lesson-title-bg{width:410px;height:66px;margin:10px auto 0 auto;background:url(../img/title-bar-lesson.png) no-repeat;}
.lesson-title-bg .left-title{color:#FFF;width:260px;height:30px;text-align:center;margin:0px 0 0 10px;padding:10px 0 0 0;letter-spacing:9px; display:inline-block;word-wrap:normal; word-break:keep-all;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;-moz-text-overflow: ellipsis;-webkit-text-overflow: ellipsis;}
.lesson-title-bg .right-title{color:#FFF;width:120px;text-align:center;margin:0px 0 0 10px;padding:10px 0 0 0;display:inline-block;}
.ls5 .left-title{letter-spacing:3px;font-size:16px;}
.ls5 .right-title{font-size:16px;}
.ls10 .left-title{letter-spacing:0px;font-size:15px;}
.ls10 .right-title{font-size:15px;}

.table-striped tbody tr.placeselected:nth-child(odd) td{background-color:#DDF4FF;}
.table tbody tr.placeselected td{background-color:#DDF4FF;}
.table-striped tbody tr.placeselected:nth-child(odd):hover td{background-color:#f5f5f5;}
.table tbody tr:hover td{background-color:#f5f5f5;}
.setup_main .dl-horizontal .large-title{text-align:left;width:580px;clear:none;font-size:13px;line-height:31px;}
.setup_main .dl-horizontal .content{display:inline;float:left;font-size:13px;}
.setup_main .dl-horizontal .paragraph{font-size:13px;margin-left:150px;}
.setup_main .dl-horizontal p{line-height:30px;min-height:30px;}
.setup_main .dl-list  p{line-height:30px;}

.setup_main .dl-horizontal .largecontent{text-align:justify;line-height:30px;width:550px;margin-left:20px;}
.subtitle-left {border-left:4px solid #1F95D0;}
.subleft .dl-horizontal .content{font-size:14px;}
.subleft .dl-horizontal .title{font-size:14px;}
.subleft p{margin:0;}
.subtitle-top {border-top:4px solid #1F95D0;}
.subtitle-white{border-top:1px solid #FDFDFD;}
.subtitle-top-long {border-top:1px solid #DEDEDE}
.subline {background:url(../img/subline.png) repeat-x;height:6px;width:960px;}
.drop-down{background:url(../img/drop-down.png) 0 -10px no-repeat;height:9px;width:12px;}
.drop-down:hover{background:url(../img/drop-down.png) 0 0 no-repeat;}
.drop-up{background:url(../img/drop-up.png) 0 -10px no-repeat;height:9px;width:12px;}
.drop-up:hover{background:url(../img/drop-up.png) 0 0 no-repeat;}
.subleft{background:#FCFCFC;border:1px solid #DCDCDC;
border-top-right-radius: 4px; border-top-left-radius: 4px;
border-bottom-right-radius: 4px; border-bottom-left-radius: 4px; 
-webkit-border-bottom-right-radius: 4px; -moz-border-radius-bottomright: 4px;
-webkit-border-bottom-left-radius: 4px; -moz-border-radius-bottomleft: 4px;
-webkit-border-top-right-radius: 4px; -moz-border-radius-topright: 4px;
-webkit-border-top-left-radius: 4px; -moz-border-radius-topleft: 4px;
}
.subright{background:url(../img/shadow-p.png) 0 0 repeat-y;border-top:1px solid #DEDEDE;border-right:1px solid #DEDEDE;border-bottom:1px solid #DEDEDE;
border-top-right-radius: 4px;border-bottom-right-radius: 4px;
-webkit-border-bottom-right-radius: 4px; -moz-border-radius-bottomright: 4px;
-webkit-border-top-right-radius: 4px; -moz-border-radius-topright: 4px;
box-shadow:inset 0 0 10px #1a1a1a,
}

.pyleft{background:#ffffff;width:447px;border:1px solid #d9d9d9;}
.pyleft .dl-horizontal .content{font-size:15px;}
.pyleft .dl-horizontal .title{text-align:left;width:80px;clear:none;margin-left:70px;font-size:15px;}
.pyleft .linewhite {background:url(../img/line-white-bg.png) repeat-x;height:5px;width:380px;margin-left:30px;}
.pyleft .linetop {background:url(../img/title3.png) repeat-x;height:9px;width:380px;margin:0 0 0 30px;}
.setup_main .pyleft .linegrey {background:url(../img/line-grey-bg.png) repeat-x;height:5px;width:877px;margin-left:10px;}
.pyright{background:#fafafa url(../img/inbox-shadow.png) repeat-x;height:300px;width:510px;
border-top:1px solid #d9d9d9;border-right:1px solid #d9d9d9;border-bottom:1px solid #d9d9d9;
box-shadow:inset 0 0 5px rgba(255, 255, 255, 0.99);-webkit-box-shadow:inset 0 0 5px rgba(255, 255, 255, 0.99);-moz-box-shadow:inset 0 0 5px rgba(255, 255, 255, 0.99);
box-shadow:inset 10px 0 10px #f2f2f2;
-webkit-box-shadow:inset 10px 0 10px #f2f2f2;
-moz-box-shadow:inset 10px 0 10px #f2f2f2;
}
.pyright .dl-horizontal .content{font-size:14px;}
.pyright .dl-horizontal .title{text-align:left;width:150px;clear:none;margin-left:40px;font-size:14px;}
.pyleft .dl-horizontal .title.zlpj{width:120px;margin-left:30px;font-size:15px;}

.pymid{background:#fafafa url(../img/inbox-shadow.png) repeat-x;padding-bottom:10px;min-height:150px;width:959px;
border-top:1px solid #d9d9d9;border-left:1px solid #d9d9d9;border-right:1px solid #d9d9d9;border-bottom:1px solid #d9d9d9;
box-shadow:inset 0 0 5px rgba(255, 255, 255, 0.99);-webkit-box-shadow:inset 0 0 5px rgba(255, 255, 255, 0.99);-moz-box-shadow:inset 0 0 5px rgba(255, 255, 255, 0.99);
}
.pymid .inblock{display:inline-block;}
.pymid p.inblock{height:auto;min-height:30px;}
.pymid .dl-horizontal .content{font-size:14px;}
.pymid .dl-horizontal .title{text-align:left;width:100px;clear:none;font-size:14px;margin-left:50px;}
.pymid .dl-horizontal .title.ml30{margin-left:30px;}
.pymid .linegrey {background:url(../img/line-grey-bg.png) repeat-x;height:5px;width:877px;margin-left:10px;}
.pymid .linetitle {background:url(../img/sub-title.png) repeat-x;height:36px;width:169px;margin:0 0 0 30px;}
.pymid .linetitlefir {background:url(../img/sub-title.png) repeat-x;height:36px;width:169px;display:inline-block;cursor:pointer;}
.pymid .linetitlesec {background-color:#AFD9EE;height:29px;width:169px;display:inline-block;cursor:pointer;}
.pymid .dl-horizontal .checkbox-stu, .pymid .dl-horizontal .radio-stu{margin:5px 0 0 0px;}

.letters9{letter-spacing:9px;}
.fltitle {background:url(../img/sub-title.png) repeat-x;height:37px;width:169px;position:absolute;cursor:pointer;font-size:16px;}
.studenttitle{background:url(../img/stu/heading-student.png) no-repeat;height:56px;width:385px;display:inline-block;text-align:center;padding-top:10px;color:#333;}
.form-horizontal .title-label{text-align:left;clear:none;font-size:14px;display:inline-block;float:left; font-weight:bold;}

.table td.vat{vertical-align:top;}
.table-bordered-xk {
  margin:0;
  border-style:none;
  border-collapse: separate;
  *border-collapse: collapsed;
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
}
.table-bordered-xk.mt10{margin-top:10px;}
.table-bordered-xk th {background:none; background-color:#F1F1F1; color: black; border-color:#CCC;}
.table-striped-xk tbody tr td{background-color:#F9F9F9;}
.table-striped-xk tbody tr.alt td{background-color:#F1F1F1;}
.table-striped-xk tbody tr.alt:hover td{background-color:#F5F5F5;}
.table-striped-xk tbody tr.alt:hover td.rows{background-color:#F1F1F1;}
.table-striped-xk tbody tr:hover td.rows{background-color:#F9F9F9;}
/*.table-striped-xk tbody tr.alt:hover td[rowspan="2"] {background-color:#F1F1F1;}*/


.kytitle.three{margin:10px 0 10px 0px;min-height:37px;padding-left:8px;display:block;width:500px;background:url(../img/stu/3chosebg.png) no-repeat;}
.kytitle.four{margin:10px 0 10px 0px;min-height:37px;padding-left:8px;display:block;width:800px;background:url(../img/stu/4chosebg.png) no-repeat;}
.kytitle h3{font-size:14px;color:#333;cursor:pointer;display:inline-block;text-align:center;width:117px;height:37px;line-height:37px;}
.kytitle h3 a{color:#333;}
.kytitle h3:hover, .kytitle h3 a:hover{color:#1F95D0;}
.kytitle h3.sel, .kytitlechosen h3.sel:hover{color:#fff;background:url(../img/stu/5chosebar.png) no-repeat;background-position:0px 2px;}
.kytitle h3.sel a, .kytitlechosen h3.sel a:hover{color:#fff;}


.leftblue{border-left: 4px solid #1F95D0;color:#1F95D0;}
.setup_main .dl-horizontal dd.sumborder{height:1px;margin:0 50px 0 10px;width:180px;border-top:1px solid #CCC;}
.borderT{border:1px solid #AFD9EE;}
.borderD9{border:1px solid #D9D9D9;}
.submit-btn{margin:0 0 20px 300px;}
.radio-list input[type="radio"] {margin:8px 5px 0 0}
.radio-list .radio-stu {margin:4px 0 0 0}
.control-group input[type="checkbox"]{margin:7px 0 0 0}
.control-group .checkbox-stu {margin:4px 0 0 0}
.ml4 input[type="checkbox"]{margin:7px 5px 0 4px}
.fbold p{font-weight:bold;}
.fbold label{font-weight:bold;}
input[type="file"] {width:230px;}
table  select,input{margin:0px;}
tr{}
.mt8{margin-top:8px;}
.mt2{margin-top:2px;}
.mt11{margin-top:11px;}
.mt13{margin-top:13px;}
.mt35{margin-top:35px;}
.mt55{margin-top:55px;}
.mr100{margin-right:100px;}
.ml130{margin-left:130px;}
.ml200{margin-left:200px;}
.ml4{margin-left:0px;}
.ml28{margin-left:28px;}
.mb1{margin-bottom:1px;}
.w109{width:109px;}
.w130{width:130px;}
.w140{width:140px;}
.w170{width:170px;}
.w190{width:190px;}
.w270{width:270px;}
.w280{width:280px;}
.w356{width:356px;}
.w470{width:470px;}
.w690{width:690px;}
.w710{width:710px;}
.w875{width:875px;}
.w895{width:895px;}
.mh100{min-height:100px;}
.mh200{min-height:200px;}
.h220{height:220px;}
.h260{height:260px;}
.h460{height:460px;}
.h490{height:490px;}
.h500{height:500px;}
.h858{height:858px;}
.hr1{width:430px;border-bottom-color:#CCC;}
.bgd{color:#B4B4B4;}

.wBox_content li{ clear: both; width:100%; height:35px; line-height:30px; }

.ui_title a.white{color:#333;}
.ui_title a.white:hover{color:#fff;}

.tab .button{color:#666; width:82px; height:27px; line-height:25px; margin:0px 0 0px 10px; background: url(../img/secmenu.png) 0 0 no-repeat; cursor:pointer; }
.tab .button:hover{ color:#333; background: url(../img/secmenu.png) 0 -56px no-repeat; }
.tab .button.cur{ color:#FFF; font-weight:bold; background: url(../img/secmenu.png) 0 -28px no-repeat; }
.tab .content{clear:both; color:#999; margin:5px 0 0 107px; width:276px; height:26px; line-height:26px;background:url(../img/thirdmenu.png) repeat-x;}
.tab .content span{float:left; margin:8px 3px 0px 10px; display: inline-block; width:7px; height:7px; }
.tab .content span.l0{ margin:8px 3px 0px 1px; background: url(../img/thirdmenui.png) no-repeat; }
.tab .content span.l1{ background: url(../img/thirdmenui.png) no-repeat; }
.tab .content a{float:left; width:75px; line-height:20px;}
.grs-footer{border-top:1px solid #CCCBCB;padding-top:15px;background-color:#E8E8E8;font-size:12px;text-align:center;}
.grs-footer-wrap{width:960px;height:30px;line-height:26px;margin:0 auto;}
.grs-footer a,
.grs-footer a:link,
.grs-footer a:visited{color:#8B8B8B;text-decoration:none;margin-left:10px;}
.grs-footer a:hover,.grs-footer a:active{color:#8B8B8B;text-decoration:none;font-weight:bold;}
/* text-shadow: 0 1px 0 rgba(0, 0, 0, .7); }*/