.post_content
{
  font-size: 1.1rem;
  line-height: 1.6;
  // overflow: scroll;
  overflow: hidden;
}

.post_content  h1
{
  // font-size: 45px;
  font-size: 26px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.post_content img
{
  display: block;
  max-width: 80%;
  margin: 10px auto;
  text-align: center;
  border-radius: 15px;
}

.post_content hr
{
  margin-top: 0;
  opacity: .6;
  height:10px;
  border:none;
  border-top: dashed red;
}

.post_content h2
{
  font-size: 22px;
  margin-bottom: 5px;
}

.post_content figure.highlight
{
  margin: auto (-$horzPad);
}
