table {
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
    border: 3px solid $github;
    width:100%;
}
  
td,th {
    border-left: 1px solid #f2f2f2;
    border-width: 0 0 0 2px;
//    font-size: inherit;
    font-size: 0.8rem;
    margin: 0;
    overflow: visible;
    padding: .5em 1em;
    border-bottom: 2px solid #cbcbcb;
}
 
thead {
    background-color: $backgroundColor;
//    text-align: left;
//    vertical-align: bottom;
}

tbody {
  
}